# Development Environment & System Files
.env
env.py
core.Microsoft*
core.mongo*
core.python*

# Virtual Environments & Packages
.venv/
node_modules/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*.pyc 

# Databases & Media
*.sqlite3
LineItems.csv

# Configurations & Extras
.github/
.prettierignore
.prettierrc
cloudinary_python.txt
autoPopulate.js