.alert {
  margin: 0;
}

.hourly-sales-wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid #dee2e6 !important;
  border-radius: .25rem !important;
  background-color: #fff !important;
  padding: 1rem !important;
}