/* .calendar-body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: none;
} */
.calendar {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: none;
    position: fixed;
    bottom: 120px;
    right: 60px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fa565a;
}
.calendar-header button {
    background-color: transparent;
    color:#fff;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#month-year {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
.calendar-weekdays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div, .calendar-dates div {
  text-align: center;
  padding: 10px;
}
.calendar-weekdays {
  background-color: #474343;
  color:#fa565a;
}
.calendar-weekdays div {
  font-weight: bold;
}

.calendar-dates {
    background-color: #474343;
    color: #fff;
    padding:2px;
}
.calendar-dates div {
  /* border-bottom: 1px solid #eaeef3; */
  cursor: pointer;
  border-radius: 10px;
}
/* .calendar-dates div:hover {
  background-color: #f1f1f1;
} */

.selected-date {
    background-color: #fff;
    color:#fa565a;
}
.current-date {
  /* background-color: #fa565a; */
  color: #fa565a;
  border-radius: 10px;
}

