body {
    padding: 0;
    margin: 0;
}

.product_buttons_div .col-2,
.product_buttons_div .col,
#measurement_row .col,
#measurement_row .col-2,
.food_row .col,
.food_row .col-2,
.gifts_row .col-2,
.pfand_button_row .col,
.pfand_button_row .col-2,
.global_buttons .col-2 {
    padding: 2px;
}

.row {
    margin: 0;
}

.col-7 {
    padding: 0;
}

.btn {
    width: 100%;
    height: 45px;
    color: white;
    border-color: black;
    font-weight: 500;
    font-size: .7rem;
}

.btn:active {
    transform: translateY(3px);
  }

.fa-maximize,
.fa-minimize {
    font-size: 30px;
    margin-top: 2px;
    margin-right: 10px;
}

.measure_button {
    background-color: white;
    border-color: black;
}

.draught {
    background-color: darkgreen;
}

.half_n_half, .bar_products {
    background-color: #148505;
}

.shandy {
    background-color: #1a9e08;
}

.cans_and_bottles,
.waste_button {
    background-color: rgb(72, 202, 202);
}

.spirits_and_liquers,
.cancel_button {
    background-color: red;
}

.Chase,
.finish_button {
    background-color: rgb(93, 148, 11);
    color: white;
}

.exact_tendered {
    background-color: rgb(88, 88, 228);
}

.softdrinks,
.unpaid_button {
    background-color: rgb(255, 145, 0);
}

.hot_nonalcoholics {
    background-color: #964B00;
}
.admin_button,
.previous_orders_button {
    background-color: black;
}

.hot_alcoholics {
    background-color: brown;
}

.hot_toddys {
    background-color: rgb(88, 88, 228);
}

.shots,
.gifts,
.gift_products,
.specials_button {
    background-color: rgb(87, 10, 138);
}

.cocktails {
    background-color: #81663f;
}

.open_drink {
    background-color: aqua;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    border-top: 1px solid #000;
    font-weight: 700;
}

.open-drink-input:not(.checkbox) {
    width: 100%;
    margin: 10px 0;
    padding-left: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 55px;
}

.checkbox {
    width: 100%;
    height: 50%;
}

.open_drink {
    margin-left: auto;
}

.open-drink-submit {
    background-color: aqua;
    font-weight: 700;
    color: #000;
}

.kitchen_products,
.food:not(.measure_button) {
    background-color: rgb(243, 202, 19);
    color: black;
}

.open_drink,
.foods,
.measure_button {
    color: black;
}

.product_button {
    padding: 0 1px;
}

.product_button.enabled {
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    border-top: 1px solid #000;
    font-weight: 700;
    
}

.disabled {
    color: #777;
}

.measure_button.selected {
    border: 4px solid #000;
    background-color: lightblue;
}

.product_selection.selected {
    scale: 100% 120%;
}
.product_selection:not(.selected) {
    scale: 100% 100%;
}

.hide {
    display: none;
}

.food_row {
    margin-top: 10px;
    display: flex;
}

.col-2:has(.open_drink) {
    margin-left: auto;
}

.global_buttons {
    margin-top: auto;
    margin-bottom: 3px;

}

.bar_kitchen {
    background-color: rgb(243, 202, 19);
    color: black;
}

.pfand_button {
    border-radius: 5px;
    background-color: black;
    width: 100%;
    color: #fff;
    height: 100%;
    font-size: .8rem;
}

.pfand_button:hover {
    color: #fff;
    font-weight: bold;
    /* font-size: .9rem; */
}

.green {
    background-color: green;
    color: #fff;
}

.till-left-side {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.till-right-side {
    display: flex;
    flex-direction: column;
    max-height: 100dvh;
}

.header-info {
    display: flex;
    font-size: .8rem;
    margin-bottom: 5px;
}

#time_and_date {
    padding: 5px 0;
}

.logged_in_as {
    flex: 1; 
    text-align: right; 
    white-space: nowrap;
    padding: 5px;
}

.staff-user {
    flex: 1; 
    text-align: right; 
    white-space: nowrap;
    padding: 5px;
    color: blue;
}

.basket_div {
    width: 100%;
    margin-top: auto;
    background-color: #d1cdcd;
}
.basket_edit_button {
    width: 100%;
    margin-top: auto;
}

/*--- Centres Pfand Buttons in tyheir div ---*/
.col {
    text-align: center;
}

.pfand_button_row {
    display: flex;
    margin-bottom: 5px;
}

.pfand-return-title {
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: bold;
}

hr {
    width: 75%;
    margin: auto;
}

.totals_row {
    margin-top: 15px;
}

.€_notes_row {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.€_notes_row  [class*="col"] {
    padding: 2px;
}

/* .col-3 {
    padding: 2px;
} */

.pay_method_button,
.exact_tendered,
.oap-students,
.specials_button,
.finish_button,
.cancel_button,
.unpaid_button,
.waste_button {
    padding: 2px;
    border: none;
    height: 45px;
}

#specialsModal .specials_button {
    margin: 1px;
}

#wasteModal .waste_button  {
    margin: 1px;
}

#unpaidModal .unpaid_button {
    margin: 1px;
    color: #000;
}

.pay_method_button img {
    filter: brightness(1.15);
    border-radius: 5px;
}


.oap-students {
    background-color:rgb(87, 10, 138)
}

img {
    width: 100%;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
}

#product_headings_row {
    background-color: #d1cdcd;
    padding: 5px 0;
}

#product_headings_row  [class*="col"] {
    padding: 0;
}

#product_headings_row h6 {
    margin: 0;
    text-align: center;
    font-size: .8rem;
}

.products_rows_div {
    text-overflow: ellipsis;
    /* min-height: 25px; */
    /* max-height: 200px; */
    height:auto;
    overflow-y:auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #f0f0f0;
}

.valid {
    border: 1px solid green;
    margin-bottom: 2px!important;
}

.invalid {
    border: 1px solid red;
    margin-bottom: 2px!important;
}

.product_row {
    margin-bottom: 1px;
}

.product_row [class*="col"] {
    padding: 0;
}

/* .product_row:nth-child(odd) {
    background-color: #fff;
} */

.product_row p {
    margin: 0;
    font-size: .8rem;
}

.product_row p:not(nth-of-type(1)) {
    text-align: center;
}

.product_row .basket_edit_button {
    text-align: center;
    font-size: .8rem;
}

.product-name {
    text-wrap: nowrap;
    overflow: clip;
    margin-right: 2px !important;
}

#size {
    text-wrap: nowrap;
    overflow: clip;
}

.product_row p:not(.product-name) {
    text-align: center;
}

.product_row i {
    text-align: center;
}

.add_row,
.subtract_row,
.delete_row {
    font-size: 1rem;
}

.delete_button {
    color: red;
}

.basket_edit_button {
    border: none;
}

/*-- Grand Totals Section --*/
.grand_totals_row_label {
    font-weight: 500;
    
}

.grand_totals_row_label, .grand_totals_figure  {
    font-size: .9rem;
    margin-bottom: 5px;
}

#amount_tendered {
    height: 21px;
    width: 75px;
}

.modal {
    background-color: #878282ab;
}

/*Staff modal */
.staff-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin:3px auto;
    max-width: 80%;
    border-radius: 5px;
    font-weight: bold;
    height: 46px;
}

.staff-name p {
    margin: 0;
}

#staff_modal .staff-name:nth-child(even) {
    background-color: #f7cfd6;
}

#staff_modal .staff-name:nth-child(odd) {
    background-color: #e7b1bb;
}
/*-- Pfand Modal --*/
.pfand_modal_button {
    /* margin-bottom: 10px;
    border-radius: 50%; */
    border-radius: 50%;
    width: 62px;
    height: 55px;
    margin-bottom: 10px;
}

#gifts_modal .gifts {
    margin: 1px;
}
/* #pfand_modal .row {
    padding: 5px;
} */

.error {
    border: 2px solid red;
}

.field-error {
    color: red;
}
/*-- Pfand Modal End --*/

/*-- Toasts & Messages Start --*/

/* .message-container {
    position: fixed;
    top: 572px;
    left: 866px;
    z-index: 99999999999;
} */

.custom-toast {
    /* overflow: visible;
    border: none;
    border-radius: 1rem;
    margin-bottom: 3px; */
    width: 100%;
    /* z-index: 99999999999; */
}

.toast-header {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* .toast-capper {
    height: 2px;
} */

/*-- Toasts & Messages End --*/