h1 {
    color:#000;
    text-align: center;;
}

h5 {
	text-align: center;
	background-color: antiquewhite;
	width: 100%;
	padding: 5px 0;
}

th, tr {
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #000;
    border: 1px solid grey;
}

th, td {
    padding: 0 5px;
    font-size: small;
    font-family: "Roboto", sans-serif;
}

table {
    width: 100%;
    position: relative;
}

.left-align {
    text-align: left;
}

table, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

.no-border-bottom {
    border-bottom: none;
}

.no-border-top {
    border-top: none;
}

.row1 {
    background-color: beige;
}

.row2 {
    background-color: blanchedalmond;
}

.staff-icon {
    position: fixed;
    bottom: 180px;
    right: 10px;
	border-radius: 10px;
	width: 128px;
	height: 111px;
    text-align: center;
	background-color: #474343;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	align-items: center;
}

/* .icon {
    display: flex;
    justify-content: center;
    margin:2px;
    padding: 5px;
    background-color: #7fffd4;
    border-radius: 10px;
	width: 128px;
	height: 111px;
} */

.fa-user {
    color: #fa565a;
    display:block;
}

.staff-name {
	display: block;
	color: #fff;
	width:100%;
	margin: 0;
	background-color: #fa565a;
}

.staff-list-container {
	display: none;
	position: fixed;
	bottom: 180px;
	right: 150px;
    width: 300px;
}

.staff-list-header {
	color: #fff;
	background-color: #fa565a;
	text-align: center;
	font-size: 1.2em;
    font-weight: bold;
	padding: 10px;
}

.staff-list-body {
	background-color: #474343;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	padding: 10px;
}

.staff-list-item {
	border: 1px solid #fa565a;
	padding: 3px;
}

.selected-staff {
	background-color: #fa565a;
	color: #000;
}

/*------------------------------------------------*/

/* @group Mixins */
/* * {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
} */



.figure {
	margin: 30px auto;
    margin-left: 0;	
	width: 128px;
	height: 111px;	
	background-color: #474343;
	border-radius: 10px;	
	position: fixed;
    bottom: 10px;
    right: 10px;	
	&:before {
		content: '';
		display: block;
		border-radius: 10px 10px 0 0;
		background-image: -webkit-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -moz-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -o-linear-gradient(white 0%, #edeeef 100%); 
		background-image: linear-gradient(white 0%, #edeeef 100%);
	}
	
	section {
		width: 128px;
		height: 80px;		
		position: absolute;
		top: 28px;		
		font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
		color: #fff;		
		text-align: center;		
		z-index: 10;		
		&:before {
			content: '';
			display: block;			
			position: absolute;
			top: 35px;
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}		
		&:after {
			content: '';
			display: block;			
			position: absolute;
			top: 35px;
			right: 0;			
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}		
	}
	
}

.icon-header {
	width: 128px;
	height: 27px;		
	position: absolute;
	top: -1px;		
	background-color: #fa565a;
	border-radius: 10px 10px 0 0;		
	font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0.5px;
	color: #fff;		
	text-align: center;
}

.icon-footer {
	width: 128px;
	position: absolute;
	bottom: -20px;
	background-color: #fa565a;
	border-radius: 0 0 10px 10px;
	border-bottom: 3px solid #e5e5e5;		
	font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0.5px;
	color: #fff;		
	text-align: center;
}


/* @end */