.heading_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #000;
    text-align: center;
    font-weight: bolder;
}

button {
    vertical-align: middle;
}

.summary-table, .group-table {
  font-size: .9rem;
  border: 1px solid black; 
  padding: 5px; 
  margin-bottom: 5px;
}

th:not(:nth-child(1)), td:not(:nth-child(1)) {
  text-align: center;
}

.filter-container {
    border: 1px solid black;
    padding: 5px;
    color: #fff;
    background-color: #000;
    font-size: .9rem;
}

label {
  display: block;
  padding-top: 5px;
}

.datepicker, .timepicker {
   display: block;
   width: 100%;
   margin: 5px 0;
}

.dropdown-check-list {
    position: relative;
  }
  
  .dropdown-check-list .anchor {
    width: 100%;
    cursor: pointer;
    display: block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    width: 100%;
    position: absolute;
    padding: 2px;
    display: none;
    margin: 0;
    /* border: 1px solid #ccc; */
    background-color: #000;
    color: #fff;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    z-index: 1;
    display: block;
    height: 500px;
    overflow-y: scroll;
  }

  .dropdown-check-list span {
    padding: 5px;
  }
