{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- dc CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" /> -->
<!--My CSS stylesheet-->
<link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row heading_row">
        <div class="col-3">

        </div>
        <div class="col">
            <h1 class="">CHARTS</h1>
        </div>
        <div class="col-3">
            <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">Back to site</button></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">  
                <div id="testChart"></div>
            </div>
            <div class="col">
                <div id="sunburstChart"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_load_js %}
{{ block.super }}
<!--Chart.js-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js" integrity="sha512-nlO6OGj6wb0uu/thpSry7qFal63hfhCLExpWxYomYB3tBznqWmKggsDHNHSLjnVaoade9tv/rErN498NSzwBnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js" integrity="sha512-vIRU1/ofrqZ6nA3aOsDQf8kiJnAHnLrzaDh4ob8yBcJNry7Czhb8mdKIP+p8y7ixiNbT/As1Oii9IVk+ohSFiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/charts.js' %}" type="module"></script>

{% endblock %}