{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-7">
            <div class="row" id="measurement_row">
                <div class="col-2">
                    <button class="btn measure_button">
                        Double
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        Dash
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        0.3
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        0.4
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        Pint
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        Bottle
                    </button>
                </div>
            </div>
            <div class="row">
                {% for draught in draughts %}
                    <div class="col-2">
                        <button type="submit" class="btn {{draught.category}} product_button" data-price_03="{{draught.price_03}}" data-price_04="{{draught.price_04}}" data-price_pint="{{draught.price_pint}}">
                            {{draught.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for canandbottle in canandbottles %}
                    <div class="col-2">
                        <button class="btn {{canandbottle.category}} product_button" data-price_330="{{canandbottle.price_330}}" data-price_440="{{canandbottle.price_440}}" data-price_pint="{{canandbottle.price_pint}}">
                            {{canandbottle.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for spirit in spirits %}
                    <div class="col-2">
                        <button class="btn {{spirit.category}} {{spirit.name}} product_button" data-price_single="{{spirit.price_single}}" data-price_double="{{spirit.price_double}}" data-price_bottle="{{spirit.price_bottle}}">
                            {{spirit.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for softdrink in softdrinks %}
                    <div class="col-2">
                        <button class="btn {{softdrink.category}} product_button" data-price_dash="{{softdrink.price_dash}}" data-price_03="{{softdrink.price_03}}" data-price_04="{{softdrink.price_04}}" data-price_pint="{{softdrink.price_pint}}" data-price_bottle="{{softdrink.price_bottle}}">
                            {{softdrink.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotnonalcoholic in hotnonalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotnonalcoholic.category}} product_button" data-price_regular="{{hotnonalcoholic.price_regular}}">
                            {{hotnonalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotalcoholic in hotalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotalcoholic.category}} product_button" data-price_regular="{{hotalcoholic.price_regular}}">
                            {{hotalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hottoddy in hottoddys %}
                    <div class="col-2">
                        <button class="btn {{hottoddy.category}} product_button" data-price_regular="{{hotoddy.price_regular}}">
                            {{hottoddy.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for shot in shots %}
                    <div class="col-2">
                        <button class="btn {{shot.category}} product_button" data-price_regular="{{shot.price_regular}}">
                            {{shot.name}}
                        </button>
                    </div>
                {% endfor %}
                <div class="col-2">
                    <button class="btn open_drink">
                        Open Drink
                    </button>
                </div>
            </div>
            <div class="row food_row">
                {% for food in foods %}
                    <div class="col-2">
                        <button class="btn {{food.category}} product_button" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}">
                            {{food.name}}
                        </button>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-2">
                    <button class="btn measure_button">
                        Small
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        Regular
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn gifts_button">
                        Gifts
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn admin_button">
                        Admin
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn previous_orders_button">
                        Previous Orders
                    </button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <p>Thursday 25/6/2023, 13:45. Logged in as: Cathal</p>
            <div class="row pfand_button_row">
                <div class="col">
                    <button class="btn pfand_button">
                        1
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        2
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        3
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        4
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        5
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        6+
                    </button>
                </div>
            </div>
            <div class="basket_div">
                <div class="row product_lines_row">
                    <div class="col">
                        {% if basket_items %}
                            <div class="table-responsive rounded"></div>
                        {% else %}
                            <p class="lead">No Items Added</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row totals_row">
                    <div class="col-6">
                        <p>Drinks / Food Total:</p>
                        <p>Pfand Total:</p>
                        <p>Total Due:</p>
                        <p>Tendered Amount:</p>
                        <p>Change Due:</p>
                    </div>
                    <div class="col-6">
                        <p>€</p>
                        <p>€</p>
                        <p>€</p>
                        <input type="number">
                        <p>€</p>
                    </div>
                </div>
                <div class="row €_notes_row">
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€5="5">
                            <img src="{% static 'images/€5_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€10="10">
                            <img src="{% static 'images/€10_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€20="20">
                            <img src="{% static 'images/€20_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button">
                            <img src="{% static 'images/credit_card_icon.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€50="50">
                            <img src="{% static 'images/€50_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€100="100">
                            <img src="{% static 'images/€100_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-€200="200">
                            <img src="{% static 'images/€200_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn specials_button">
                            Specials
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn unpaid_button">
                            Unpaid
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn finish_button">
                            Finish
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn cancel_button">
                            Cancel
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn waste_button">
                            Waste
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
