{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <!--  Left Side of till with product buttons  -->
        <div class="col-7">
            <!--  Drinks Sizes Buttons -->
            <div class="row" id="measurement_row">
                <div class="col-2">
                    <button class="btn measure_button price_double" id="double_button" data-price="price_double">
                        Double
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_dash" id="dash_button" data-price="price_dash">
                        Dash
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_03" id="03_button" data-price="price_03">
                        0.3
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_04" id="04_button" data-price="price_04">
                        0.4
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_pint" id="pint_button" data-price="price_pint">
                        Pint
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_bottle" id="bottle_button" data-price="price_bottle">
                        Bottle
                    </button>
                </div>
            </div>
            <!--  Drink Products Buttons  -->
            <div class="row product_buttons_div">
                {% for draught in draughts %}
                    <div class="col-2">
                        <button class="btn {{draught.category}} product_button" id="{{draught.id}}" data-category="{{draught.category}}" data-name="{{draught.name}}" data-price_default="{{draught.price_03}}" data-price_03="{{draught.price_03}}" data-price_04="{{draught.price_04}}" data-price_pint="{{draught.price_pint}}">
                            {{draught.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for canandbottle in canandbottles %}
                    <div class="col-2">
                        <button class="btn {{canandbottle.category}} product_button" id="{{canandbottle.id}}" data-category="{{canandbottle.category}}" data-name="{{canandbottle.name}}" data-price_default="{{canandbottle.price_pint}}" data-price_330="{{canandbottle.price_330}}" data-price_440="{{canandbottle.price_440}}" data-price_pint="{{canandbottle.price_pint}}">
                            {{canandbottle.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for spirit in spirits %}
                    <div class="col-2">
                        <button class="btn {{spirit.category}} {{spirit.name}} product_button" id="{{spirit.id}}" data-category="{{spirit.category}}" data-name="{{spirit.name}}" data-price_default="{{spirit.price_default}}" data-price_single="{{spirit.price_default}}" data-price_double="{{spirit.price_double}}" data-price_bottle="{{spirit.price_bottle}}">
                            {{spirit.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for softdrink in softdrinks %}
                    <div class="col-2">
                        <button class="btn {{softdrink.category}} product_button" id="{{softdrink.id}}" data-category="{{softdrink.category}}" data-name="{{softdrink.name}}" data-price_default="{{softdrink.price_03}}" data-price_dash="{{softdrink.price_dash}}" data-price_03="{{softdrink.price_03}}" data-price_04="{{softdrink.price_04}}" data-price_pint="{{softdrink.price_pint}}" data-price_bottle="{{softdrink.price_bottle}}">
                            {{softdrink.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotnonalcoholic in hotnonalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotnonalcoholic.category}} product_button" id="{{hotnonalcoholic.id}}" data-category="{{hotnonalcoholic.category}}" data-name="{{hotnonalcoholic.name}}" data-price_default="{{hotnonalcoholic.price_default}}">
                            {{hotnonalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotalcoholic in hotalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotalcoholic.category}} product_button" id="{{hotalcoholic.id}}" data-category="{{hotalcoholic.category}}" data-name="{{hotalcoholic.name}}" data-price_default="{{hotalcoholic.price_default}}">
                            {{hotalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hottoddy in hottoddys %}
                    <div class="col-2">
                        <button class="btn {{hottoddy.category}} product_button" id="{{hottoddy.id}}" data-category="{{hottoddy.category}}" data-name="{{hottoddy.name}}" data-price_default="{{hottoddy.price_default}}">
                            {{hottoddy.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for shot in shots %}
                    <div class="col-2">
                        <button class="btn {{shot.category}} product_button" id="{{shot.id}}" data-category="{{shot.category}}" data-name="{{shot.name}}" data-price_default="{{shot.price_default}}">
                            {{shot.name}}
                        </button>
                    </div>
                {% endfor %}
                <div class="col-2">
                    <button class="btn open_drink">
                        Open Drink
                    </button>
                </div>
            </div>
            <!--  Food Products Buttons  -->
            <div class="row food_row">
                {% for food in foods %}
                    <div class="col-2">
                        <button class="btn {{food.category}} product_button" id="{{food.id}}" data-category="{{food.category}}" data-name="{{food.name}}" data-price_default="{{food.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}">
                            {{food.name}}
                        </button>
                    </div>
                {% endfor %}
            </div>
            <!--  Food Sizes, Gifts, Admin & Previous Drinks Buttons  -->
            <div class="row">
                <!-- Small Size Button -->
                <div class="col-2">
                    <button class="btn measure_button">
                        Small
                    </button>
                </div>
                <!-- Regular Size Button -->
                <div class="col-2">
                    <button class="btn measure_button">
                        Regular
                    </button>
                </div>
                <!-- Empty Button -->
                <div class="col-2">
                    <button class="btn measure_button">
                        <!-- Empty Button just to fill space -->
                    </button>
                </div>

                <!-- Gifts Button -->
                <div class="col-2">
                    <button class="btn gifts_button" data-bs-toggle="modal" data-bs-target="#gifts_modal">
                        Gifts
                    </button>
                </div>
                <!-- The Gifts Modal -->
                <div class="modal" id="gifts_modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Gifts Selection</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                {% for gift in gifts %}
                                    <button class="btn {{gift.category}} product_button" id="{{gift.id}}" data-category="{{gift.category}}" data-name="{{gift.name}}" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                        {{gift.name}}
                                    </button>
                                {% endfor %}
                                <button class="btn product_button gifts_button" id="{{gift.id}}" data-category="Fridge_Magnet.category" data-name="Fridge_Magnet.name" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                    Fridge Magnet
                                </button>
                                <button class="btn product_button gifts_button" id="{{gift.id}}" data-category="Tree_Decoration.category" data-name="Tree_Decoration.name" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                    Tree Decoration
                                </button>
                                <button class="btn product_button gifts_button" id="{{gift.id}}" data-category="Picture_Frame.category" data-name="Picture_Frame.name" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                    Picture Frame
                                </button>
                                <button class="btn product_button gifts_button" id="{{gift.id}}" data-category="T-Shirt.category" data-name="T-Shirt.name" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                    T-Shirt
                                </button>
                                <button class="btn product_button gifts_button" id="{{gift.id}}" data-category="Polo_Shirt.category" data-name="Polo_Shirt.name" data-price_default="{{food.price_default}}" > <!-- data-price_default="{{gift.price_regular}}" data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}"  -->
                                    Polo Shirt
                                </button>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>

                <!-- Admin Button -->
                <div class="col-2">
                    <button class="btn admin_button">
                        Admin
                    </button>
                </div>
                <!-- Previous Orders Button -->
                <div class="col-2">
                    <button class="btn previous_orders_button">
                        Previous Orders
                    </button>
                </div>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path}}">
        </div>

        <!--  Right Side of till with totals  -->
        <div class="col-5">
            <p class="text-end">
                <span id="time_and_date"></span>
                <span class="logged_in_as">Logged in as: Cathal</span>
            </p>
            <!--  Pfand Buttons  -->
            <div class="row pfand_button_row">
                <div class="col">
                    <button class="btn pfand_button" data-value="1">
                        1
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button" data-value="2">
                        2
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button" data-value="3">
                        3
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button" data-value="4">
                        4
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button"data-bs-toggle="modal" data-bs-target="#pfand_modal" data-value="0">
                        5+
                    </button>
                </div>
                <!-- Pfand Modal -->
                <div class="modal" id="pfand_modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Number of Items Returned</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="5">
                                    5
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="6">
                                    6
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="7">
                                    7
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="8">
                                    8
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="9">
                                    9
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="10">
                                    10
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="11">
                                    11
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="12">
                                    12
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="13">
                                    13
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="14">
                                    14
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="15">
                                    15
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="16">
                                    16
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="17">
                                    17
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="18">
                                    18
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="19">
                                    19
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="20">
                                    20
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="21">
                                    21
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="22">
                                    22
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="23">
                                    23
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="24">
                                    24
                                </button>
                                <button class="btn pfand_button pfand__modal_button" data-bs-dismiss="modal" data-value="25">
                                    25
                                </button>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="btn pfand_button" data-value="0">
                        Reset
                    </button>
                </div>
            </div>
            <!-- Basket Div -->
            <div class="basket_div">
                <!-- Line Items -->
                <div class="row product_row" id="product_headings_row">
                    <div class="col-4" id="product_row_div">
                        <h6>Product</h6>
                    </div>
                    <div class="col-1" id="qty_row_div">
                        <h6>Qty</h6>
                    </div>
                    <div class="col" id="per_unit_row_div">
                        <h6>€ Unit</h6>
                    </div>
                    <div class="col" id="line_total_row_div">
                        <h6>€ Total</h6>
                    </div>
                    <div class="col-1" id="add_row_div">
                        <h6>Add</h6>
                    </div>
                    <div class="col-1" id="subtract_row_div">
                        <h6>Sub</h6>
                    </div>
                    <div class="col-1" id="delete_row_div">
                        <h6>Del</h6>
                    </div>
                </div>
                <div class="products_rows_div">
                </div>
                <hr>
                <!-- Grand Totals Rows -->
                <div class="row totals_row" id="grand_totals_row_div">
                    <div class="col-6">
                        <p class="grand_totals_row grand_totals_row_label">Number of Products:</p>
                        <p class="grand_totals_row grand_totals_row_label">Drinks / Food Total:</p>
                        <p class="grand_totals_row grand_totals_row_label">Pfand Total:</p>
                        <p class="grand_totals_row grand_totals_row_label">Total Due:</p>
                        <p class="grand_totals_row grand_totals_row_label">Tendered Amount:</p>
                        <p class="grand_totals_row grand_totals_row_label" id="change_due_label">Change Due:</p>
                    </div>
                    <div class="col-6">
                        <p class="grand_totals_row grand_totals_figure" id="total_number_of_products"># Products</p>
                        <p class="grand_totals_row grand_totals_figure" id="products_total">€</p>
                        <p class="grand_totals_row grand_totals_figure" id="pfand_total">€</p>
                        <p class="grand_totals_row grand_totals_figure" id="total_due">€</p>
                        <span class="euro_symbol" id="amount_tendered_span">€
                            <input type="number" class="grand_totals_row grand_totals_figure" id="amount_tendered">
                        </span>
                        <p class="grand_totals_row grand_totals_figure" id="change_due">€</p>
                    </div>
                </div>
                <!-- € Notes and Finish Buttons Row -->
                <div class="row €_notes_row">
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="5" data-payment_method="cash">
                            <img src="{% static 'images/€5_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="10" data-payment_method="cash">
                            <img src="{% static 'images/€10_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="20" data-payment_method="cash">
                            <img src="{% static 'images/€20_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn pay_method_button" id="credit_card_button" data-payment_method="credit_card">
                            <img src="{% static 'images/credit_card_icon.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="50" data-payment_method="Cash">
                            <img src="{% static 'images/€50_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="100" data-payment_method="Cash">
                            <img src="{% static 'images/€100_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button pay_method_button" data-value="200" data-payment_method="Cash">
                            <img src="{% static 'images/€200_note.png' %}">
                        </button>
                    </div>
                    <!-- The Specials Button -->
                    <div class="col-3">
                        <button class="btn specials_button" type="button" data-bs-toggle="modal" data-bs-target="#specialsModal">
                            Specials
                        </button>
                    </div>
                    <!-- The Specials Modal -->
                    <div class="modal" id="specialsModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Specials</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <button class="btn specials_button">2 for 1</button>
                                    <button class="btn specials_button"></buttonclass>50% Off</button>
                                    <button class="btn specials_button"></buttonclass>Buy 10 Get 11th Free</button>
                                    <button class="btn specials_button"></buttonclass>6 Shot Special</button> <!-- This better done in calculations -->
                                </div>
                        
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <!-- The Unpaid Button -->
                    <div class="col-3">
                        <button class="btn unpaid_button" data-bs-toggle="modal" data-bs-target="#unpaidModal">
                            Unpaid
                        </button>
                    </div>
                    <!-- The Unpaid Modal -->
                    <div class="modal" id="unpaidModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Unpaid Reason</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_Manager_Authorised">Comp Manager Authorised</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_Cutomer_Replacement"></buttonclass>Comp Cutomer Replacement</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_Cathal_Authorised"></buttonclass>Comp Cathal Authorised</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_India"></buttonclass>Comp India</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_Neighbouring_Stand">Comp Neighbouring Stand</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Comp_Other"></buttonclass>Comp Other</button>
                                    <button class="btn btn-primary unpaid_button payment_button" data-payment_method_alternative="complimentary" data-payment_reason="Staff_Drink"></buttonclass>Staff Drink</button>
                                </div>
                        
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <!-- Finish Button -->
                    <div class="col-3">
                        <button class="btn finish_button payment_button">
                            Finish
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn cancel_button">
                            Cancel
                        </button>
                    </div>
                    <!-- The Waste Button -->
                    <div class="col-3">
                        <button class="btn waste_button" data-bs-toggle="modal" data-bs-target="#wasteModal">
                            Waste
                        </button>
                    </div>
                    <!-- The Waste Modal -->
                    <div class="modal" id="wasteModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Waste Reason</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Waste_Spilled">Waste Spilled</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Waste_Set-Up_Line Cleaning"></buttonclass>Waste Set-Up / Line Cleaning</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Waste_Other"></buttonclass>Waste Other</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Customer_Return_Warm"></buttonclass>Customer Return - Warm</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Cutomer_Return_Cold">Cutomer Return - Cold</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Customer_Return_Taste"></buttonclass>Customer Return - Taste</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Customer_Return_Glass_Issue"></buttonclass>Customer Return - Glass Issue</button>
                                    <button class="btn btn-primary waste_button payment_button" data-payment_method_alternative="waste" data-payment_reason="Customer_Return_Other"></buttonclass>Customer Return - Other</button>
                                </div>
                        
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- For Test TOP BE REMOVED -->
        <!-- <div class="test_div">
            <div class="col-1" id="add_row_div">
                <div class="add_button basket_edit_button">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div> -->

    </div>
{% endblock %}
