{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <!--  Left Side of till with product buttons  -->
        <div class="col-7">
            <!--  Drinks Sizes Buttons -->
            <div class="row" id="measurement_row">
                <div class="col-2">
                    <button class="btn measure_button draught price_double" id="double_button" data-price="price_double">
                        Double
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_dash" id="dash_button" data-price="price_dash">
                        Dash
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_03" id="03_button" data-price="price_03">
                        0.3
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_04" id="04_button" data-price="price_04">
                        0.4
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_pint" id="pint_button" data-price="price_pint">
                        Pint
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button price_bottle" id="bottle_button" data-price="price_bottle">
                        Bottle
                    </button>
                </div>
            </div>
            <!--  Drink Products Buttons  -->
            <div class="row product_buttons_div">
                {% for draught in draughts %}
                    <div class="col-2">
                        <button class="btn {{draught.category}} product_button" id="{{draught.id}}" data-name="{{draught.name}}" data-price_default="{{draught.price_03}}" data-price_03="{{draught.price_03}}" data-price_04="{{draught.price_04}}" data-price_pint="{{draught.price_pint}}">
                            {{draught.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for canandbottle in canandbottles %}
                    <div class="col-2">
                        <button class="btn {{canandbottle.category}} product_button" id="{{canandbottle.id}}" data-name="{{canandbottle.name}}" data-price_default="{{canandbottle.price_pint}} data-price_330="{{canandbottle.price_330}}" data-price_440="{{canandbottle.price_440}}" data-price_pint="{{canandbottle.price_pint}}">
                            {{canandbottle.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for spirit in spirits %}
                    <div class="col-2">
                        <button class="btn {{spirit.category}} {{spirit.name}} product_button" id="{{spirit.id}}" data-name="{{spirit.name}}" data-price_default="{{spirit.price_single}}" data-price_single="{{spirit.price_single}}" data-price_double="{{spirit.price_double}}" data-price_bottle="{{spirit.price_bottle}}">
                            {{spirit.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for softdrink in softdrinks %}
                    <div class="col-2">
                        <button class="btn {{softdrink.category}} product_button" id="{{softdrink.id}}" data-name="{{softdrink.name}}" data-price_default="{{softdrink.price_03}}" data-price_dash="{{softdrink.price_dash}}" data-price_03="{{softdrink.price_03}}" data-price_04="{{softdrink.price_04}}" data-price_pint="{{softdrink.price_pint}}" data-price_bottle="{{softdrink.price_bottle}}">
                            {{softdrink.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotnonalcoholic in hotnonalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotnonalcoholic.category}} product_button" id="{{hotnonalcoholic.id}}" data-name="{{hotnonalcoholic.name}}" data-price_default="{{hotnonalcoholic.price_default}}">
                            {{hotnonalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hotalcoholic in hotalcoholics %}
                    <div class="col-2">
                        <button class="btn {{hotalcoholic.category}} product_button" id="{{hotalcoholic.id}}" data-name="{{hotalcoholic.name}}" data-price_default="{{hotalcoholic.price_default}}">
                            {{hotalcoholic.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for hottoddy in hottoddys %}
                    <div class="col-2">
                        <button class="btn {{hottoddy.category}} product_button" id="{{hottoddy.id}}" data-name="{{hottoddy.name}}" data-price_default="{{hottoddy.price_default}}">
                            {{hottoddy.name}}
                        </button>
                    </div>
                {% endfor %}
                {% for shot in shots %}
                    <div class="col-2">
                        <button class="btn {{shot.category}} product_button" id="{{shot.id}}" data-name="{{shot.name}}" data-price_default="{{shot.price_default}}">
                            {{shot.name}}
                        </button>
                    </div>
                {% endfor %}
                <div class="col-2">
                    <button class="btn open_drink">
                        Open Drink
                    </button>
                </div>
            </div>
            <!--  Food Products Buttons  -->
            <div class="row food_row">
                {% for food in foods %}
                    <div class="col-2">
                        <button class="btn {{food.category}} product_button" data-price_default="{{food.price_regular}} data-price_03="{{food.price_small}}" data-price_04="{{food.price_regular}}">
                            {{food.name}}
                        </button>
                    </div>
                {% endfor %}
            </div>
            <!--  Food Sizes, Gifts, Admin & Previous Drinks Buttons  -->
            <div class="row">
                <div class="col-2">
                    <button class="btn measure_button">
                        Small
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        Regular
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn measure_button">
                        
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn gifts_button">
                        Gifts
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn admin_button">
                        Admin
                    </button>
                </div>
                <div class="col-2">
                    <button class="btn previous_orders_button">
                        Previous Orders
                    </button>
                </div>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path}}">
        </div>

        <!--  Right Side of till with totals  -->
        <div class="col-5">
            <p>Thursday 25/6/2023, 13:45. Logged in as: Cathal</p>
            <!--  Pfand Buttons  -->
            <div class="row pfand_button_row">
                <div class="col">
                    <button class="btn pfand_button">
                        1
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        2
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        3
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        4
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        5
                    </button>
                </div>
                <div class="col">
                    <button class="btn pfand_button">
                        6+
                    </button>
                </div>
            </div>
            <!-- Basket Div -->
            <div class="basket_div">
                <div class="row product_row" id="product_headings_row">
                    <div class="col-4" id="product_row_div">
                        <h6>Product</h6>
                    </div>
                    <div class="col-1" id="qty_row_div">
                        <h6>Qty</h6>
                    </div>
                    <div class="col" id="per_unit_row_div">
                        <h6>€ Unit</h6>
                    </div>
                    <div class="col" id="line_total_row_div">
                        <h6>€ Total</h6>
                    </div>
                    <div class="col-1" id="add_row_div">
                        <h6>Add</h6>
                    </div>
                    <div class="col-1" id="subtract_row_div">
                        <h6>Sub</h6>
                    </div>
                    <div class="col-1" id="delete_row_div">
                        <h6>Del</h6>
                    </div>
                </div>
                <div class="products_rows_div">
                </div>
                <hr>
                <!-- Grand Totals Rows -->
                <div class="row totals_row">
                    <div class="col-6">
                        <p class="grand_totals_row grand_totals_row_label">Number of Products:</p>
                        <p class="grand_totals_row grand_totals_row_label">Drinks / Food Total:</p>
                        <p class="grand_totals_row grand_totals_row_label">Pfand Total:</p>
                        <p class="grand_totals_row grand_totals_row_label">Total Due:</p>
                        <p class="grand_totals_row grand_totals_row_label">Tendered Amount:</p>
                        <p class="grand_totals_row grand_totals_row_label" id="change_due_label">Change Due:</p>
                    </div>
                    <div class="col-6">
                        <p class="grand_totals_row" id="total_number_of_products"># Products</p>
                        <p class="grand_totals_row" id="products_total">€</p>
                        <p class="grand_totals_row" id="pfand_total">€</p>
                        <p class="grand_totals_row" id="total_due">€</p>
                        <span class="euro_symbol">€
                            <input type="number" class="grand_totals_row" id="amount_tendered">
                        </span>
                        <p class="grand_totals_row" id="change_due">€</p>
                    </div>
                </div>
                <!-- € Notes Row -->
                <div class="row €_notes_row">
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="5">
                            <img src="{% static 'images/€5_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="10">
                            <img src="{% static 'images/€10_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="20">
                            <img src="{% static 'images/€20_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button">
                            <img src="{% static 'images/credit_card_icon.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="50">
                            <img src="{% static 'images/€50_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="100">
                            <img src="{% static 'images/€100_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn €_notes_button" data-value="200">
                            <img src="{% static 'images/€200_note.png' %}">
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn specials_button">
                            Specials
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn unpaid_button">
                            Unpaid
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn finish_button">
                            Finish
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn cancel_button">
                            Cancel
                        </button>
                    </div>
                    <div class="col-3 €_notes_button">
                        <button class="btn waste_button">
                            Waste
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- For Test TOP BE REMOVED -->
        <div class="test_div">
            <div class="col-1" id="add_row_div">
                <div class="add_button basket_edit_button">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
