{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- dc CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" /> -->
<!--My CSS stylesheet-->
<link rel="stylesheet" href="{% static 'css/past_orders.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="">Past Orders</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <th>Transaction</th>
                    <th>Date</th>
                    <th>Staff</th>
                    <th>Pfand Due</th>
                    <th>Drinks/Food Total</th>
                    <th>Total Due</th>
                    <th>Amount Tendered</th>
                    <th>Change </th>
                    <th>Payment Method</th>
                    <th>Comp/Disc</th>
                    <th>Number  of Products</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
                {% for order in orders %}
                {% ifchanged order.grand_totals.id %}
                    <tr>
                        <td class="no-border-bottom" class="no-border-bottom">{{ order.grand_totals.id }}</td>
                        <td class="no-border-bottom">{{ order.order_date_li }}</td>
                        <td class="no-border-bottom">{{ order.staff_member }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.pfand_total }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.drinks_food_total }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.total_due }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.tendered_amount }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.change_due }}</td>
                        <td class="no-border-bottom">{{ order.payment_method }}</td>
                        <td class="no-border-bottom">{{ order.discount }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.number_of_products }}</td>
                        <td class="left-align">{{ order.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price_unit }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="left-align">{{ order.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price_unit }}</td>
                    </tr>
                {% endifchanged %}
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    
    
    
{% endblock %}
