{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- dc CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" /> -->
<!--My CSS stylesheet-->
<link rel="stylesheet" href="{% static 'css/past_orders.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col">
            <h1 class="">Past Orders</h1>
        </div>
        <div class="col-3">
            <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">Back to site</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col main-section">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Staff</th>
                    <th>Pfand Due</th>
                    <th>Drinks/Food Total</th>
                    <th>Total Due</th>
                    <th>Amount Tendered</th>
                    <th>Change </th>
                    <th>Payment Method</th>
                    <th>Comp/Disc</th>
                    <th>Number  of Products</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>#</th>
                </tr>
                {% for order in orders %}
                {% ifchanged order.grand_totals.id %}
                    <tr class="content {% cycle 'row1' 'row2' as rowcolors %}">
                        <td class="no-border-bottom left-align">{{ order.order_date_li|date:"D j/m/y" }}</td>
                        <td class="no-border-bottom left-align">{{ order.order_date_li|date:"G:i" }}</td>
                        <td class="no-border-bottom">{{ order.staff_member }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.pfand_total }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.drinks_food_total }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.total_due }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.tendered_amount }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.change_due }}</td>
                        <td class="no-border-bottom">{{ order.payment_method }}</td>
                        <td class="no-border-bottom">{{ order.discount }}</td>
                        <td class="no-border-bottom">{{ order.grand_totals.number_of_products }}</td>
                        <td class="left-align">{{ order.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price_unit }}</td>
                        <td class="no-border-bottom" class="no-border-bottom">{{ order.grand_totals.id }}</td>
                    </tr>
                {% else %}
                    <tr class="content {{ rowcolors }}">
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom"></td>
                        <td class="left-align">{{ order.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price_unit }}</td>
                        <td class="no-border-top no-border-bottom"></td>
                    </tr>
                {% endifchanged %}
                
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col no-entries">
            {% if not orders %}
                <h5>No Entries Found</h5>
            {% endif %}
        </div>
    </div>
</div>
<!-- <div class="staff-icon">
    <div class="icon-header">STAFF</div>
    <div class="icon">
        <i class="fa-solid fa-user fa-3x"></i>
        
    </div> 
    <div class="icon-footer staff-name">All</div>
</div>    
<div class="staff-list-container">
    <div class="staff-list-header">STAFF LIST</div>
    <div class="staff-list-body">
        {% for item in staff_list %}       
            <p data-staffId="{{item.staffId }}" class="staff-list-item">{{item.name }}</p>
        {% endfor %}
    </div>
</div> -->

<!-- <div class="calendar-container">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polyline points="0, 55 60, 0 60, 110 0, 55"/>
    </svg>
    <div class="figure datepicker">
        <div class="icon-header">
            <script>
            var	month = new Date().getMonth();
                months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
            
            document.write(months[month]);
            </script>
        </div>
        <section>
            <script>
                document.write(new Date().getDate());
            </script>
        </section>
        <div class="icon-footer">
            <script>
            var	day = new Date().getDay();
            var dayOfWeek = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
            
            document.write(dayOfWeek[day]);
            </script>
        </div>
    </div>
    <div class="calendar-body">
        <div class="calendar">
            <div class="calendar-header">
            <button id="prev-month">‹‹‹‹‹</button>
            <div id="month-year"></div>
            <button id="next-month">›››››</button>
            </div>
            <div class="calendar-body">
            <div class="calendar-weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div> -->
            <!-- <div class="calendar-dates"> -->
            <!-- Dates will be populated here -->
            <!-- </div> -->
            <!-- </div>
        </div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polyline points="60, 55 0, 120 0, 0 60, 55"/>
    </svg>
</div> -->


<div class="test-icons-container">
    <div id="staff-picker" class="test-icon">
        <div class="test-icon-header">
            STAFF
        </div>
        <div class="test-icon-body">
            <i class="fa-solid fa-user"></i>
        </div>
        <div id="staff-footer" class="test-icon-footer">
            All
        </div>
    </div>
    <div class="staff-list-container">
        <div class="staff-list-header">STAFF LIST</div>
        <div class="staff-list-body">
            {% for item in staff_list %}       
                <p data-staffId="{{item.staffId }}" class="staff-list-item">{{item.name }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="test-calendar-container">
        <svg id="prevDayBtn" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polyline points="0, 50 40, 10 40, 90 "/>
            <text x="20" y="60">-</text>
        </svg>
        <div id="datepicker" class="test-icon">
            <div id="calendar-header" class="test-icon-header">
                <script>
                    var	month = new Date().getMonth();
                        months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
                    document.write(months[month]);
                </script>
            </div>
            <div id="calendar-body" class="test-icon-body">
                <script>
                    document.write(new Date().getDate());
                </script>
            </div>
            <div id="calendar-footer" class="test-icon-footer">
                <script>
                    var	day = new Date().getDay();
                    var dayOfWeek = new Array('Sunday', 'Monday', 'Tuesday',   'Wednesday', 'Thursday', 'Friday', 'Saturday');
                    document.write(dayOfWeek[day]);
                </script>
            </div>
        </div>
        <svg id="nextDayBtn" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polyline points="40, 50 0, 10 0, 90"/>
            <text x="5" y="60">+</text>
        </svg>
        
        <div class="calendar">
            <div class="calendar-header">
            <button id="prev-month">‹‹‹‹‹</button>
            <div id="month-year"></div>
            <button id="next-month">›››››</button>
            </div>
            <div class="calendar-body">
                <div class="calendar-weekdays">
                    <!-- Weekday Names -->
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-dates">
                <!-- Dates will be populated here -->
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}
{% block post_load_js %}
{{ block.super }}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}