{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- dc CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" /> -->
<!--My CSS stylesheet-->
<link rel="stylesheet" href="{% static 'css/reports.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid heading-container">
    <div class="row heading_row">
        <div class="col-3">

        </div>
        <div class="col">
            <h1 class="">REPORTS</h1>
        </div>
        <div class="col-3">
            <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">Back to site</button></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="summary-table">
                <h6>SUMMARY</h6>
                <table class="table">
                    <thead>
                        <tr>
                        <!-- <th scope="col">Staff</th> -->
                        <th scope="col"># Transactions</th>
                        <th scope="col"># Cash Transactions </th>
                        <th scope="col">Cash Total</th>
                        <th scope="col"># Card Transactions</th>
                        <th scope="col">Card Total</th>
                        <th scope="col"># Waste Transactions</th>
                        <th scope="col">Waste Total</th>
                        <th scope="col"># Comp Transactions</th>
                        <th scope="col">Comp Total</th>
                        </tr>
                    </thead>
                    <tbody id="summary-table">
            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 pe-0">
            <div class="filter-container">
                <h6 class="text-center">FILTER</h6>
                <div>
                    <label for="from_date">From</label>
                    <input class="datepicker" min='{{ earliest_date.order_date_li | date:"Y" }}-{{ earliest_date.order_date_li | date:"m" }}-{{ earliest_date.order_date_li | date:"d" }}' max='{{ latest_date.order_date_li | date:"Y" }}-{{ latest_date.order_date_li | date:"m" }}-{{ latest_date.order_date_li | date:"d" }}' id="from_date" type="date" name="from_date" value='{{ earliest_date.order_date_li | date:"Y" }}-{{ earliest_date.order_date_li | date:"m" }}-{{ earliest_date.order_date_li | date:"d" }}'>
                    <input class="timepicker" type="time" id="from_time" name="from_time" value='{{ earliest_date.order_date_li | time:"H:i"}}'>
                </div>
                
                <div>
                    <label for="to_date">To</label>
                    <input class="datepicker" min='{{ earliest_date.order_date_li | date:"Y" }}-{{ earliest_date.order_date_li | date:"m" }}-{{ earliest_date.order_date_li | date:"d" }}' max='{{ latest_date.order_date_li | date:"Y" }}-{{ latest_date.order_date_li | date:"m" }}-{{ latest_date.order_date_li | date:"d" }}' id="to_date" type="date" name="to_date" value='{{ latest_date.order_date_li | date:"Y" }}-{{ latest_date.order_date_li | date:"m" }}-{{ latest_date.order_date_li | date:"d" }}'>
                    <input class="timepicker" type="time" id="to_time" name="to_time" value='{{ latest_date.order_date_li | time:"H:i"}}'>
                </div>
                
                <div>
                    <label for="staff">Staff</label>
                    <div id="staff" class="dropdown-check-list">
                        <span class="anchor">Select Staff</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            {% for item in staff %}
                            <li><input class="checkbox" type="checkbox" name="{{ item }}" checked/><span>{{ item }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
                <div>
                    <label for="category">Category</label>
                    <div id="category" class="dropdown-check-list">
                        <span class="anchor">Select Category</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            {% for item in categories %}
                            <li><input class="checkbox" type="checkbox" name="{{ item.category }}" checked/><span>{{ item.category }}</span></li>
                            {% endfor %}
                            <li><input class="checkbox" type="checkbox" name="Open drink" checked/><span>Open Drink</span></li>
                        </ul>
                    </div>
                </div>
    
                <div>
                    <label for="drinks">Drinks</label>
                    <div id="drinks" class="dropdown-check-list">
                        <span class="anchor">Select Drinks</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            {% for item in drinks %}
                            <li><input class="checkbox" type="checkbox" name="{{ item }}" checked/><span>{{ item }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="food">Food</label>
                    <div id="food" class="dropdown-check-list">
                        <span class="anchor">Select Food</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            {% for item in food %}
                            <li><input class="checkbox" type="checkbox" name="{{ item }}" checked/><span>{{ item }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="gifts">Gifts</label>
                    <div id="gifts" class="dropdown-check-list">
                        <span class="anchor">Select Gifts</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            {% for item in gifts %}
                            <li><input class="checkbox" type="checkbox" name="{{ item }}" checked/><span>{{ item }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
                <div>
                    <label for="size">Size</label>
                    <div id="size" class="dropdown-check-list">
                        <span class="anchor">Select Sizes</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            <li><input class="checkbox" type="checkbox" name="03" checked/><span>03</span></li>
                            <li><input class="checkbox" type="checkbox" name="04" checked/><span>04</span></li>
                            <li><input class="checkbox" type="checkbox" name="pint" checked/><span>Pint</span></li>
                            <li><input class="checkbox" type="checkbox" name="btle" checked/><span>Btle</span></li>
                            <li><input class="checkbox" type="checkbox" name="sgle" checked/><span>Sgle</span></li>
                            <li><input class="checkbox" type="checkbox" name="dble" checked/><span>Dble</span></li>
                            <li><input class="checkbox" type="checkbox" name="dash" checked/><span>Dash</span></li>
                            <li><input class="checkbox" type="checkbox" name="sml" checked/><span>Sml</span></li>
                            <li><input class="checkbox" type="checkbox" name="reg" checked/><span>Reg</span></li>
                            <li><input class="checkbox" type="checkbox" name="jum" checked/><span>Jum</span></li>
                            <li><input class="checkbox" type="checkbox" name="Default" checked/><span>Default</span></li>
                            
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="transaction_type">Transaction Type</label>
                    <div id="transaction_type" class="dropdown-check-list">
                        <span class="anchor">Select</span>
                        <ul class="items">
                            <li><input class="checkbox" type="checkbox" name="all" checked/><span>All</span></li>
                            <li><input class="checkbox" type="checkbox" name="Cash" checked/><span>Cash</span></li>
                            <li><input class="checkbox" type="checkbox" name="credit_card" checked/><span>Card</span></li>
                            <li><input class="checkbox" type="checkbox" name="Complimentary" checked/><span>Complimentary</span></li>
                            <li><input class="checkbox" type="checkbox" name="Waste" checked/><span>Waste</span></li>
                            <li><input class="checkbox" type="checkbox" name="Pfand Payment" checked/><span>Pfand Payment</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-9">
            <div class="group-table">
                <h6>GROUPINGS</h6>
                <table class="table">
                    <thead>
                    <tr>
                        <!-- <th scope="col">Staff</th> -->
                        <th scope="col">Product</th>
                        <th scope="col">Size</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                    </tr>
                    </thead>
                    <tbody id="group-table">
            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{{ data|json_script:"data" }}
<div class="container graph-container">
    <canvas id="scatter-plot"></canvas>
    <div id="line-graph"></div>
    <div id="per-day-chart"></div>
    <div id="stacked-chart"></div>
    <div id="drinks"></div>
</div>

{% endblock %}

{% block post_load_js %}
{{ block.super }}
<!--Chart.js-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script> -->
<!-- d3 charting library -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"
    integrity="sha256-SQJ/nCYPXFPuqoS56EfnesDBPNiitndOIfN2WdPRi/o=" crossorigin="anonymous"></script> -->

<!-- Crossfilter charting library -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"
    integrity="sha256-T9tvV3x+/vCnCoFciKNZwbaJ46q9lh6iZjD0ZjD95lE=" crossorigin="anonymous"></script> -->
<!-- dc charting library -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.min.js"
    integrity="sha256-g36jGLL708D9oZr5QHvv1KB0lnMupwfKDFK2nTK+PD0=" crossorigin="anonymous"></script> -->
<script src="{% static 'js/reports.js' %}"></script>
{% endblock %}